.venv/
__pycache__/
*.py[cod]
*.pyo
*.log
.env
*.env
*.out
*.dat
*.npy
*.npz
.ipynb_checkpoints/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
